<div id="input-group">
  <div class="input-body d-flex flex-wrap align-items-end">

    <div class="input-name">
      <input type="text" class="input me-5" placeholder="Your Name.." [(ngModel)]="user.nameValue">
    </div>

    <div class="input-sex">
      <input class="form-check-input me-1" type="radio" [(ngModel)]="user.sexValue"  value="Male" >
      <label class="form-check-label me-3 align-top">Male</label>
      <input class="form-check-input me-1" type="radio" [(ngModel)]="user.sexValue"  value="Female">
      <label class="form-check-label align-top">Female</label>
    </div>

    <div class="input-age me-5 mt-4">
      <input type="number" class="input input-group" placeholder="Your Age.." [(ngModel)]="user.ageValue">
    </div>

    <div class="input-parents ms-3">
      <select class="form-select" [(ngModel)]="user.parentsValue">
        <option value="Father" selected>Father</option>
        <option value="Mother">Mother</option>
        <option value="Neither">Neither</option>
        <option value="Both">Both</option>
      </select>
    </div>

    <div class="input-siblings mt-4">
      <input type="number" class="input input-group" placeholder="Siblings.." [(ngModel)]="user.siblingsValue">
    </div>

    <div class="input-spouse ms-5">
      <input class="form-check-input me-1" type="radio" [(ngModel)]="user.spouseValue" value="Married">
      <label class="form-check-label me-3">Married</label>
      <input class="form-check-input me-1" type="radio" [(ngModel)]="user.spouseValue" value="Single">
      <label class="form-check-label">Single</label>
    </div>

    <div class="input-children mt-4">
      <input type="number" class="input input-group" placeholder="Children.." [(ngModel)]="user.childrenValue">
    </div>

    <button type="button" (click)="userGet()" class="btn btn-danger ms-5">Check Now!</button>
  </div>

</div>