<div id="input-group">
  <div class="input-body d-flex flex-wrap align-items-end">

    <div class="input-name">
      <input type="text" class="input me-5" placeholder="Your Name..">
    </div>

    <div class="input-sex">
      <input class="form-check-input me-1" type="radio">
      <label class="form-check-label me-3 align-top" for="inlineRadio1">Male</label>
      <input class="form-check-input me-1" type="radio">
      <label class="form-check-label align-top" for="inlineRadio2">Female</label>
    </div>

    <div class="input-age me-5 mt-4">
      <input type="number" class="input input-group" placeholder="Your Age..">
    </div>

    <div class="input-parents ms-3">
      <select class="form-select">
        <option selected>Parents</option>
        <option value="1">Mother</option>
        <option value="2">Father</option>
        <option value="3">0</option>
      </select>
    </div>

    <div class="input-siblings mt-4">
      <input type="number" class="input input-group" placeholder="Siblings..">
    </div>

    <div class="input-spouse ms-5">
      <input class="form-check-input me-1" type="radio">
      <label class="form-check-label me-3" for="flexRadioDefault1">Married</label>
      <input class="form-check-input me-1" type="radio" checked>
      <label class="form-check-label" for="flexRadioDefault2">Single</label>
    </div>

    <div class="input-children mt-4">
      <input type="number" class="input input-group" placeholder="Children..">
    </div>


  </div>

</div>