<div id="input-group">
  <div class="input-body d-flex flex-wrap align-items-end">

    <div class="input-name">
      <input type="text" class="input me-5" placeholder="Your Name.." [(ngModel)]="user.nameValue">
    </div>

    <div class="input-sex">
      <input class="form-check-input me-1" type="radio">
      <label class="form-check-label me-3 align-top" for="inlineRadio1" [(ngModel)]="user.sexValue">Male</label>
      <input class="form-check-input me-1" type="radio">
      <label class="form-check-label align-top" for="inlineRadio2" [(ngModel)]="user.sexValue">Female</label>
    </div>

    <div class="input-age me-5 mt-4">
      <input type="number" class="input input-group" placeholder="Your Age.." [(ngModel)]="user.ageValue">
    </div>

    <div class="input-parents ms-3">
      <select class="form-select">
        <option  [(ngModel)]="user.parentsValue" selected>Parents</option>
        <option value="1" [(ngModel)]="user.parentsValue">N Mother</option>
        <option value="2" [(ngModel)]="user.parentsValue">N Father</option>
        <option value="3" [(ngModel)]="user.parentsValue">Both</option>
      </select>
    </div>

    <div class="input-siblings mt-4">
      <input type="number" class="input input-group" placeholder="Siblings.." [(ngModel)]="user.siblingsValue">
    </div>

    <div class="input-spouse ms-5">
      <input class="form-check-input me-1" type="radio" [(ngModel)]="user.spouseValue">
      <label class="form-check-label me-3">Married</label>
      <input class="form-check-input me-1" type="radio" [(ngModel)]="user.spouseValue">
      <label class="form-check-label">Single</label>
    </div>

    <div class="input-children mt-4">
      <input type="number" class="input input-group" placeholder="Children.." [(ngModel)]="user.childrenVale">
    </div>

    <button type="button" (click)="userGet()" class="btn btn-danger ms-5">Check Now!</button>
  </div>

</div>